{{#each advices}}
<div class="advices__advice">
    <img class="advice__img" src="/{{image.path}}" alt="advice_ing">
    <div class="advice__rectangle">
        <p class="advice__text">    
            {{description}}
        </p>
    </div>
</div>
{{/each}}