<ul class="catalog__category-list">
    <li class="catalog__category-item">
        <a class="catalog__link">
            Закуски
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Салаты
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Супы
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Рыбные блюда
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Мясные блюда
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Гарниры
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Десерты
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Напитки
        </a>
    </li>
    <li class="catalog__category-item">
        <a class="catalog__link">
            Детское меню
        </a>
    </li>
</ul>