<footer>
        <div class="footer-container">
            <div class="center-container">
                <div class="footer-container__contacts contacts">
                    <div class="contacts__text">
                        <p class="contacts__header">
                            <i>С заботой о Вашем здоровье:</i>
                        </p>
                        <p class="contacts__item">
                            &copy; &quot;HealthyFoodBook&quot;, 2023
                        </p>
                        <p class="contacts__item">
                            Официальный представитель:
                        </p>
                        <p class="contacts__item">
                            Шиляева Надежда Сергеевна
                        </p>
                        <p class="contacts__item">
                            Телефон: +7 (922) 521-61-51
                        </p>
                        <p class="contacts__item">
                            E-mail: shilaeva5nadya@mail.ru
                        </p>
                    </div>
                    <div class="contacts__lables contact-lables">
                        <div class="contact-lables__item">
                            <a class="contact-lables__link" href="https://t.me/NadezhdaShilaeva">
                                <img class="contact-lables__img" src="/images/footer-icons/telegram-icon.png" alt="Telegram">
                            </a>
                        </div>                
                        <div class="contact-lables__item">
                            <a class="contact-lables__link" href="https://vk.com/id146617368">
                                <img class="contact-lables__img" src="/images/footer-icons/vk-icon.png" alt="VK">
                            </a>
                        </div>                
                        <div class="contact-lables__item">
                            <a class="contact-lables__link" href="https://wa.me/qr/UCTXNQEMSXOWD1">
                                <img class="contact-lables__img" src="/images/footer-icons/whatsapp-icon.png" alt="WhatsApp">
                            </a>
                        </div>
                    </div>
                </div>
                {{> load_time}}
            </div>
        </div>
    </footer>