<header>
    <div class="header-navigation">
        <div class="center-container">
            <div class="header-container">
                <div class="header-container__logotype logotype">
                    <a class="logotype__link" href="/">
                        <img class="logotype__img" src="/images/logo/logotype.png" alt="Logotype">
                    </a>
                </div>
                {{> nav}}
            </div>
        </div>
    </div>
    <div class="header-bg">
        <img class="header-bg__img" src="/images\header\healthy-products2.webp" alt="healthy-products">
        <div class="header-bg__rectangle">
            <h1 class="header-bg__slogan">
                <b><em>Полезно &mdash; значит вкусно!</em></b>
            </h1>
        </div>
    </div>
</header>