<div class="login-form__form-item form-item">
    <p class="form-item__text">Электронная почта:</p>
    <div class="form-item__box parameter__box input-box">
        <input class="parameter__input" type="email" name="email" placeholder="Введите E-mail" required>
    </div>
</div>
<div class="login-form__form-item form-item">
    <p class="form-item__text">Пароль:</p>
    <div class="form-item__box parameter__box input-box">
        <input class="parameter__input" type="password" name="password" placeholder="Введите пароль" required>
    </div>
</div>