<div class="login-form__form-item form-item">
    <p class="form-item__text">Имя пользователя:</p>
    <div class="form-item__box parameter__box input-box">
    <input class="parameter__input" type="text" name="username" placeholder="Введите ваше имя" required>
    </div>
</div>
{{> login_form}}