<input class="search-box__input" type="text" name="name" placeholder="Найти рецепт по названию" autocomplete="off">
<button class="search-box__button" type="submit">
    <img class="search-box__button-img" src="/images/icons/search.png" alt="Search">
</button>