<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> style_bundles}}
    <script src="/js/page_load.js"></script>
    <link rel="shortcut icon" href="/images/logo/favicon.png" type="image/png">
    <meta name="description" content="Рецепты простых в приготовлении, вкусных, здоровых и полезных блюд с пошаговым описанием процесса их приготовления и изображениями готовых блюд.">
    <meta name="keywords" content="рецепты, блюда, готовка, еда, полезно, вкусно, быстро, просто, здоровье, пошаговые рецепты, кулинарные рецепты, изображения блюд, картинки блюд">
</head>
<body class="body">
    {{> header}}
    {{> content}}
    {{> footer}}
    {{> shared_script}}
</body>
</html>